<article class="pr3-ns pl3-ns pb3-ns">
  <a class="db pv2 ph3 ph0-l no-underline dark-gray dim" href="{{ .URL }}"></a>
    <div class="row">
      {{ if .Params.featured_image }}
        <div class="col-md-4">
          <img src="{{ .Params.featured_image }}" class="db" alt="image from {{ .Title }}">
        </div>
      {{ end }}
      
      <div class="w-100{{ if .Params.featured_image }} col-md-8 {{ else }} col-md-12 {{ end }}">
        <h1 class="f3 fw1 athelas mt0 lh-title">{{ .Title }}</h1>
        <time class="f6 mv2 dib tracked" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{- .Date.Format "January 2, 2006" -}}
        </time>
        <div class="f6 f5-l lh-copy nested-copy-line-height">
          {{ .Params.excerpt }}
        </div>
        {{ if .Params.author }}
        <p class="f6 lh-copy mv0">By {{ .Params.author }}</p>
        {{ end }}
      </div>
    </div>
  </a>
</article>
