<!-- this is the summary used on the home page (Featured section) -->

{{ $featured_image := .Params.featured_image }}
<article class="bb b--black-10">
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column flex-row-ns">
      {{ if .Params.featured_image }}
        {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        {{ $featured_image := (trim $featured_image "/") | absURL }}
        <div class="mb4 mb0-ns w-100 w-40-ns">
          <a href="{{.Permalink}}" class="db grow">
            <img src="{{ $featured_image }}" class="img w-100" alt="image from {{ .Title }}">
          </a>
        </div>
      {{ end }}
      <div class="blah w-100{{ if .Params.featured_image }} w-60-ns {{ end }}">
        <h1 class="f3 fw1 athelas mt0 lh-title">
          <a href="{{.Permalink}}" class="color-inherit dim link">
            {{ .Title }}
          </a>
        </h1>

        {{ if .Params.author }}
          <span class="f6 lh-copy mv0 dib">By {{ .Params.author }}, </span>
        {{ end }}      
        <time class="f6 mv2 dib tracked" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{- .Date.Format "January 2, 2006" -}}
        </time>

        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          {{ .Params.excerpt }}
        </div>  
        
        <div class="text-right"><a href="{{.Permalink}}">{{$.Param "read_more_copy" | default "read more" }}</a></div>
      </div>
    </div>
  </div>
</article>
