{{ define "main" }}
  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{ .Content }}
  </article>

  <div class="row">
    <!-- begin rails-camp section -->
    {{ $section := where .Site.RegularPages "Section" "in" "rails-camp" }}

    {{ $section_count := len $section }}
    {{ if ge $section_count 1 }}
      {{ $section_name := "rails-camp" }}

      <div class="col-md-7">
        <div class="relative w-100 mb4 bg-white nested-copy-line-height">
          <div class="bg-white mb3 pa4 gray overflow-hidden">
            {{/* Use $section_name to get the section title. Use "with" to only show it if it exists */}}
            {{ with .Site.GetPage "section" $section_name }}
              <h4 class="flex-none w-80 mw8 center text-center">
                Featured
              </h2>

              <h2 class="flex-none w-80 mw8 center text-center">
                {{ .Title }}
              </h2>
            {{ end }}

            {{ $n_posts := $.Param "recent_posts_number" | default 3 }}

            <section class="w-80 mw8 center">
              {{/* Range through the first $n_posts items of the section */}}
              {{ range (first $n_posts $section) }}
                <div class="relative w-100 mb4">
                  {{ partial "summary-with-image.html" . }}
                </div>
              {{ end }}
            </section>

            {{ if ge $section_count (add $n_posts 1) }}
              <section class="w-80 mw8 center">
                {{ with .Site.GetPage "section" $section_name }}
                  <h3 class="f3">
                    More from {{ .Title }}...
                  </h3>
                {{ end }}
                
                {{/* Now, range through the next four after the initial $n_posts items. Nest the requirements, "after" then "first" on the outside */}}
                {{ range (first 4 (after $n_posts $section))  }}
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="padding-left:0; border-top:none;">
                      <a href="{{ .URL }}" class="link black dim">
                        {{ .Title }}
                      </a>
                      {{ if .Date }}
                        <span class="f6">{{ .Date.Format "January 2, 2006" }}</span>
                      {{ end }}
                    </li>
                  </ul>              
                {{ end }}

                {{/* As above, Use $section_name to get the section title, and URL. Use "with" to only show it if it exists */}}
                {{ with .Site.GetPage "section" $section_name }}
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-right">
                        <a href="{{ .URL }}">See all</a>    
                    </li>
                  </ul>                 
                {{ end }}
              </section>
            {{ end }}
          </div>
        </div>
      </div>
    {{ end }}
    <!-- end rails-camp section -->

    <!-- begin post section -->
    {{ $section := where .Site.RegularPages "Section" "in" "post" }}

    {{ $section_count := len $section }}
    {{ if ge $section_count 1 }}
      {{ $section_name := "post" }}
      
      <div class="col-md-5">
        <div class="relative w-100 mb4 nested-copy-line-height">
          <div class="mb3 pa4 gray overflow-hidden">
            {{/* Use $section_name to get the section title. Use "with" to only show it if it exists */}}
            {{ with .Site.GetPage "section" $section_name }}
              <h2 class="flex-none w-100 mw8 center">
                Latest {{ .Title }}
              </h2>
            {{ end }}

            {{ $n_posts := $.Param "recent_posts_number" | default 3 }}

            <section class="w-100 mw8 center">
              {{/* Range through the first $n_posts items of the section */}}
              {{ range (first $n_posts $section) }}
                <div class="relative w-100 mb4">
                  {{ partial "summary.html" . }}
                </div>
              {{ end }}
            </section>

            {{ if ge $section_count (add $n_posts 1) }}
              <section class="w-100 mw8 center">
                {{/* As above, Use $section_name to get the section title, and URL. Use "with" to only show it if it exists */}}
                {{ with .Site.GetPage "section" $section_name }}
                  <a href="{{ .URL }}" class="link db f6 pa2 br3 bg-mid-gray white dim w4 tc">All {{.Title }}</a>
                {{ end }}
              </section>
            {{ end }}
          </div>
        </div>
      </div>
    {{ end }}
    <!-- end post section -->
  </div>
{{ end }}
